
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  padding: 0;
  margin: 15px;
  background-color: #f7f7f7;
}

.form-custom {
  background-color: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.12);
  width: 400px;
}

.container-custom {
  display: flex;
  justify-content: center
}

.pokemon {
  background-color: white;
  padding: 15px;
  margin-top: 15px;
}